<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accounts">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Cuentas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="import">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <ion-label>Importar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
